<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="wrap">
    <aside class="widget-area" role="complementary">
      <div class="widget-column footer-widget-1">
        <section id="text-4" class="widget widget_text">
          <h2 class="widget-title">URURIMI</h2>
          <div class="textwidget">
            <p>{{ with .Site.Params.footer.legal }}{{ . | markdownify }}{{ end }}

                <br>Route de la Plaine Simonière
                <br>97118 Saint-François
                <br>Guadeloupe (F.W.I.)
              <br>SIRET : 823 099 007 00010
              <br>VAT : FR 43823099007

            </p>
          </div>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
				<section id="text-5" class="widget widget_text">
          <h2 class="widget-title">{{ with .Site.Params.Footer.contacttitle }}{{ . | markdownify }}{{ end }}</h2>
          <div class="textwidget">
            <p>{{ with .Site.Params.Footer.contactdescription }}{{ . | markdownify }}{{ end }}</p>
          </div>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
				<section id="text-5" class="widget widget_text">
          <h2 class="widget-title">{{ with .Site.Params.Footer.infotitle }}{{ . | markdownify }}{{ end }}</h2>
          <div class="textwidget">
            <p>{{ with .Site.Params.Footer.infodescription }}{{ . | markdownify }}{{ end }}</p>
          </div>
        </section>
      </div>
    </aside><!-- .widget-area -->
    <nav class="social-navigation" role="navigation" aria-label="Footer Social Links Menu">
      <div class="menu-social-links-menu-container">
        <ul id="menu-social-links-menu" class="social-links-menu">
          <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
            <a href="#"><span class="screen-reader-text">Facebook</span><svg class="icon icon-facebook" aria-hidden="true" role="img"> <use href="#icon-facebook" xlink:href="#icon-facebook"></use> </svg></a>
          </li>
          <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
            <a href="#"><span class="screen-reader-text">Twitter</span><svg class="icon icon-twitter" aria-hidden="true" role="img"> <use href="#icon-twitter" xlink:href="#icon-twitter"></use> </svg></a>
          </li>
          <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a href="#"><span class="screen-reader-text">Instagram</span><svg class="icon icon-instagram" aria-hidden="true" role="img"> <use href="#icon-instagram" xlink:href="#icon-instagram"></use> </svg></a>
          </li>
          <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a href="mailto:info@ururimi.com"><span class="screen-reader-text">Email</span><svg class="icon icon-envelope-o" aria-hidden="true" role="img"> <use href="#icon-envelope-o" xlink:href="#icon-envelope-o"></use> </svg></a>
          </li>
        </ul>
      </div>
    </nav><!-- .social-navigation -->
    <div class="site-info">
      <a href="#">{{ with .Site.Params.Footer.copyright }}{{ . | markdownify }}{{ end }}</a>
    </div><!-- .site-info -->
  </div><!-- .wrap -->
</footer><!-- #colophon -->
