<header id="masthead" class="site-header" role="banner">
  <div class="custom-header">
    <div class="custom-header-media">
      <div id="wp-custom-header" class="wp-custom-header">
        <img src="{{ .Site.BaseURL }}img/header-babel.jpg" alt="ururimi" height="1200" width="2000">
      </div>
    </div>
    <div class="site-branding" style="margin-bottom: 72px;">
      <div class="wrap">
        <div class="site-branding-text">

          <h1 class="site-title"><a href="/" rel="home">{{ with .Site.Params.header.title }}{{ . | markdownify }}{{ end }}</a></h1>

          <p class="site-description">{{ with .Site.Params.header.subtitle }}{{ . | markdownify }}{{ end }}</p>
        </div><!-- .site-branding-text -->
      </div><!-- .wrap -->
    </div><!-- .site-branding -->
  </div><!-- .custom-header -->
  <div class="navigation-top">
    <div class="wrap">
      <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
        <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
          <svg class="icon icon-bars" aria-hidden="true" role="img"><use href="#icon-bars" xlink:href="#icon-bars"></use></svg>
          <svg class="icon icon-close" aria-hidden="true" role="img"><use href="#icon-close" xlink:href="#icon-close"></use></svg>
          Menu
        </button>
        <div class="menu-top-menu-container">
          <ul id="top-menu" class="menu">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
            <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page {{ if $currentPage.IsMenuCurrent "main" . }}active current-menu-item menu-item-home{{ end }}">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{- end }}
          </ul>
        </div>
        <a href="#content" class="menu-scroll-down"><svg class="icon icon-arrow-right" aria-hidden="true" role="img"> <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg><span class="screen-reader-text">Scroll down to content</span></a>
      </nav><!-- #site-navigation -->
    </div><!-- .wrap -->
  </div><!-- .navigation-top -->
</header><!-- #masthead -->
